# Database Health Checkup

## Setup

In [1]:
pip install pymysql

Requirement already satisfied: pymysql in c:\programdata\anaconda3\lib\site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
import config
conn= "mysql+pymysql://{0}:{1}@{2}/{3}".format(config.username, config.password, config.host, config.schema)
engine = create_engine(conn, echo=False)

##### New Tables

In [3]:
site_normal= pd.read_sql_table('site_normal',engine)
item_normal= pd.read_sql_table('item_normal',engine)
item_dimen= pd.read_sql_table('item_dimen',engine)
item_fact= pd.read_sql_table('item_fact',engine)
employee_normal= pd.read_sql_table('employee_normal',engine)
emp_dimen= pd.read_sql_table('emp_dimen',engine)
norm_region= pd.read_sql_table('norm_region',engine)
norm_pay= pd.read_sql_table('norm_pay',engine)

#### Historic Tables

In [4]:
sales_periods=pd.read_sql_table('sales_periods',engine)
employees=pd.read_sql_table('employees',engine)
product_info=pd.read_sql_table('product_info',engine)
historic_sales=pd.read_sql_table('historic_sales',engine)

### Health Checkup Historic Tables at a Glance

In [5]:
sales_periods

     index  Week0+  Week1+  Sales Period  Sales Year        Date  Quarter
0        0       0       1             1        2019  12/30/2018        1
1        1       1       2             1        2019    1/6/2019        1
2        2       2       3             1        2019   1/13/2019        1
3        3       3       4             1        2019   1/20/2019        1
4        4       4       5             2        2019   1/27/2019        1
..     ...     ...     ...           ...         ...         ...      ...
99      99      47      48            12        2020  11/22/2020        4
100    100      48      49            13        2020  11/29/2020        4
101    101      49      50            13        2020   12/6/2020        4
102    102      50      51            13        2020  12/13/2020        4
103    103      51      52            13        2020  12/20/2020        4

[104 rows x 7 columns]

In [6]:
sales_periods.dtypes

index            int64
Week0+           int64
Week1+           int64
Sales Period     int64
Sales Year       int64
Date            object
Quarter          int64
dtype: object

In [7]:
sales_periods.size

728

In [8]:
employees

   index   EmpID   Sales Team Lead PayGrade Region
0      0  EMP234    Bachmann, Jane      C13     NW
1      1  EMP244       Evans, Gina      C12     NW
2      2  EMP256     Lawson, Harry      C11     NW
3      3  EMP267  Clement, Beverly      C14     SW
4      4  EMP290      Allen, Maude      C12     SW

In [9]:
employees.dtypes

index               int64
EmpID              object
Sales Team Lead    object
PayGrade           object
Region             object
dtype: object

In [10]:
employees.count()

index              5
EmpID              5
Sales Team Lead    5
PayGrade           5
Region             5
dtype: int64

In [11]:
product_info

,index,PROD_CODE,PROD_NAME,URL,link,Manufacturer,Extended Service Plan,Warranty Price,2019Q1,2019Q2,2019Q3,2019Q4,2020Q1,2020Q2,2020Q3,2020Q4
0,0,PROD_001,Gator XUV 590M,https://e-marketing.deere.com/store/landpro-eq...,Gator XUV 590M,John Deere,ESP_001,843,12449,12449,12449,12449,12499,12499,12499,12499
1,1,PROD_002,CUV82,https://www.cat.com/en_US/products/new/equipme...,CUV82,Cat,ESP_002,843,14786,14786,14786,14786,14998,14998,14998,14998
2,2,PROD_003,1025R Sub-Compact Tractor,https://e-marketing.deere.com/store/landpro-eq...,1025R Sub-Compact Tractor,John Deere,ESP_003,978,14999,14999,14999,14999,15066,15066,15066,15066
3,3,PROD_004,CT1021 Sub-Compact Tractor,https://www.bobcat.com/tractors/models/ct1021/...,CT1021 Sub-Compact Tractor,Bobcat,ESP_004,843,11385,11385,11385,11385,11527,11527,11527,11527
4,4,PROD_005,UV34 Gas,https://www.bobcat.com/utility-products/utv/UV...,UV34 Gas,Bobcat,ESP_005,843,13995,13995,13995,13995,14225,14225,14225,14225
5,5,PROD_006,ZT2000 Zero Turn Mower,https://www.bobcat.com/mowers/zero-turn-mowers...,ZT2000 Zero Turn Mower,Bobcat,ESP_006,372,4575,4575,4575,4575,4649,4649,4649,4649
6,6,PROD_007,S70 Skid Steer Loader,https://www.bobcat.com/loaders/skid-steer-load...,S70 Skid Steer Loader,Bobcat,ESP_007,1027,22987,22987,22987,22987,23120,23120,23120,23120
7,7,PROD_008,Z930M Ztrack,https://e-marketing.deere.com/store/landpro-eq...,Z930M Ztrack,John Deere,ESP_008,843,11589,11589,11589,11589,11689,11689,11689,11689

In [12]:
product_info.dtypes

index                     int64
PROD_CODE                object
PROD_NAME                object
URL                      object
link                     object
Manufacturer             object
Extended Service Plan    object
Warranty Price            int64
2019Q1                    int64
2019Q2                    int64
2019Q3                    int64
2019Q4                    int64
2020Q1                    int64
2020Q2                    int64
2020Q3                    int64
2020Q4                    int64
dtype: object

In [13]:
product_info.shape

(8, 16)

In [14]:
historic_sales

,index,ITEM_CODE,EMP_ID,Year,W0,W1,W2,W3,W4,W5,...,W42,W43,W44,W45,W46,W47,W48,W49,W50,W51
0,0,PROD_001,EMP244,2020,42,48,38,43,35,39,...,46,41,34,39,44,46,46,41,57,73
1,1,PROD_001,EMP244,2019,35,34,40,36,45,37,...,52,36,43,31,37,38,42,28,28,26
2,2,PROD_002,EMP244,2020,36,42,27,33,40,48,...,38,36,39,32,31,39,23,40,32,14
3,3,PROD_002,EMP244,2019,41,27,27,51,37,38,...,23,38,36,40,44,39,37,24,27,22
4,4,PROD_003,EMP267,2020,32,41,50,35,36,35,...,25,32,37,33,35,31,45,32,27,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,155,ESP_008,EMP256,2020,1,1,1,1,2,1,...,0,0,0,0,0,0,0,0,0,0
156,156,ESP_008,EMP267,2019,4,5,6,9,9,10,...,3,3,3,4,4,5,6,3,4,3
157,157,ESP_008,EMP267,2020,4,2,2,1,0,4,...,7,8,8,7,6,3,5,7,5,4
158,158,ESP_008,EMP290,2019,1,0,0,0,0,0,...,0,0,0,0,0,1,1,1,1,0
159,159,ESP_008,EMP290,2020,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
historic_sales.dtypes

index         int64
ITEM_CODE    object
EMP_ID       object
Year          int64
W0            int64
W1            int64
W2            int64
W3            int64
W4            int64
W5            int64
W6            int64
W7            int64
W8            int64
W9            int64
W10           int64
W11           int64
W12           int64
W13           int64
W14           int64
W15           int64
W16           int64
W17           int64
W18           int64
W19           int64
W20           int64
W21           int64
W22           int64
W23           int64
W24           int64
W25           int64
W26           int64
W27           int64
W28           int64
W29           int64
W30           int64
W31           int64
W32           int64
W33           int64
W34           int64
W35           int64
W36           int64
W37           int64
W38           int64
W39           int64
W40           int64
W41           int64
W42           int64
W43           int64
W44           int64
W45           int64
W46           int64
W47           int64
W48           int64
W49           int64
W50           int64
W51           int64
dtype: object

In [16]:
len(historic_sales.index)

160

### New App tables overview

In [17]:
site_normal

    id  sales_year  sales_week  emp_id  item_id  number_sold
0   17        2022           0       1        1           12
1   18        2022           0       1        9            6
2   19        2022           0       1        2           12
3   20        2022           0       1       10            3
4   21        2022           0       1        3           32
5   22        2022           0       1       11           12
6   23        2022           0       1        4           33
7   24        2022           0       1       12           15
8   25        2022           1       2        5           33
9   26        2022           1       2       13           44
10  27        2022           1       5        7           23
11  28        2022           1       5       15            5
12  29        2022           1       4        4           23
13  30        2022           1       4       12           33
14  31        2022           5       1        1            9
15  32        2022           5       1        9            4
16  37        2022           6       3        5           50
17  38        2022           6       3       13           22

In [18]:
item_normal

    id      item
0    1  PROD_001
1    2  PROD_002
2    3  PROD_003
3    4  PROD_004
4    5  PROD_005
5    6  PROD_006
6    7  PROD_007
7    8  PROD_008
8    9   ESP_001
9   10   ESP_002
10  11   ESP_003
11  12   ESP_004
12  13   ESP_005
13  14   ESP_006
14  15   ESP_007
15  16   ESP_008

In [19]:
item_fact

    id  item_id  price
0    1        1  12499
1    2        2  14998
2    3        3  15066
3    4        4  11527
4    5        5  14225
5    6        6   4649
6    7        7  23120
7    8        8  11689
8    9        9    843
9   10       10    843
10  11       11    978
11  12       12    843
12  13       13    843
13  14       14    372
14  15       15   1027
15  16       16    843

In [20]:
item_dimen

,id,item_id,i_desc,url,manufacturer
0,1,1,Gator XUV 590M,https://e-marketing.deere.com/store/landpro-eq...,John Deere
1,2,2,CUV82,https://www.cat.com/en_US/products/new/equipme...,Cat
2,3,3,1025R Sub-Compact Tractor,https://e-marketing.deere.com/store/landpro-eq...,John Deere
3,4,4,CT1021 Sub-Compact Tractor,https://www.bobcat.com/tractors/models/ct1021/...,Bobcat
4,5,5,UV34 Gas,https://www.bobcat.com/utility-products/utv/UV...,Bobcat
5,6,6,ZT2000 Zero Turn Mower,https://www.bobcat.com/mowers/zero-turn-mowers...,Bobcat
6,7,7,S70 Skid Steer Loader,https://www.bobcat.com/loaders/skid-steer-load...,Bobcat
7,8,8,Z930M Ztrack,https://e-marketing.deere.com/store/landpro-eq...,John Deere
8,9,9,ESP: Gator XUV 590M,https://e-marketing.deere.com/store/landpro-eq...,John Deere
9,10,10,ESP: CUV82,https://www.cat.com/en_US/products/new/equipme...,Cat
10,11,11,ESP: 1025R Sub-Compact Tractor,https://e-marketing.deere.com/store/landpro-eq...,John Deere
11,12,12,ESP: CT1021 Sub-Compact Tractor,https://www.bobcat.com/tractors/models/ct1021/...,Bobcat
12,13,13,ESP: UV34 Gas,https://www.bobcat.com/utility-products/utv/UV...,Bobcat
13,14,14,ESP: ZT2000 Zero Turn Mower,https://www.bobcat.com/mowers/zero-turn-mowers...,Bobcat
14,15,15,ESP: S70 Skid Steer Loader,https://www.bobcat.com/loaders/skid-steer-load...,Bobcat
15,16,16,ESP: Z930M Ztrack,https://e-marketing.deere.com/store/landpro-eq...,John Deere

In [21]:
employee_normal

   id     emp
0   1  EMP244
1   2  EMP256
2   3  EMP234
3   4  EMP267
4   5  EMP290

In [22]:
emp_dimen

   id  emp_id         team_lead  pay_grade_id  region_id
0   1       1       Evans, Gina             2          1
1   2       2     Lawson, Harry             1          1
2   3       3    Bachmann, Jane             3          1
3   4       4  Clement, Beverly             4          2
4   5       5      Allen, Maude             2          2

In [23]:
norm_region

   id region
0   1     NW
1   2     SW

In [24]:
norm_pay

   id pay_grade
0   1       C11
1   2       C12
2   3       C13
3   4       C14

## Common Joins

### Attach Employee info table to historic sales.

In [25]:

ShowEmployee = historic_sales.merge(employees, how='inner', left_on=["EMP_ID"], right_on=["EmpID"])

In [26]:
ShowEmployee

,index_x,ITEM_CODE,EMP_ID,Year,W0,W1,W2,W3,W4,W5,...,W47,W48,W49,W50,W51,index_y,EmpID,Sales Team Lead,PayGrade,Region
0,0,PROD_001,EMP244,2020,42,48,38,43,35,39,...,46,46,41,57,73,1,EMP244,"Evans, Gina",C12,NW
1,1,PROD_001,EMP244,2019,35,34,40,36,45,37,...,38,42,28,28,26,1,EMP244,"Evans, Gina",C12,NW
2,2,PROD_002,EMP244,2020,36,42,27,33,40,48,...,39,23,40,32,14,1,EMP244,"Evans, Gina",C12,NW
3,3,PROD_002,EMP244,2019,41,27,27,51,37,38,...,39,37,24,27,22,1,EMP244,"Evans, Gina",C12,NW
4,14,PROD_003,EMP244,2020,38,26,37,43,51,39,...,38,32,14,26,20,1,EMP244,"Evans, Gina",C12,NW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,139,ESP_006,EMP290,2020,1,2,0,1,1,1,...,1,1,2,1,2,4,EMP290,"Allen, Maude",C12,SW
156,148,ESP_007,EMP290,2019,1,1,1,2,1,1,...,1,1,2,0,1,4,EMP290,"Allen, Maude",C12,SW
157,149,ESP_007,EMP290,2020,0,0,0,0,0,0,...,0,0,1,0,1,4,EMP290,"Allen, Maude",C12,SW
158,158,ESP_008,EMP290,2019,1,0,0,0,0,0,...,1,1,1,1,0,4,EMP290,"Allen, Maude",C12,SW
159,159,ESP_008,EMP290,2020,0,0,0,0,0,0,...,0,0,0,0,0,4,EMP290,"Allen, Maude",C12,SW

### ShowProduct in relation to historic sales.

In [27]:
ShowProduct = product_info.merge(historic_sales, how='inner', left_on=["PROD_CODE"], right_on=["ITEM_CODE"])

In [28]:
ShowProduct

,index_x,PROD_CODE,PROD_NAME,URL,link,Manufacturer,Extended Service Plan,Warranty Price,2019Q1,2019Q2,...,W42,W43,W44,W45,W46,W47,W48,W49,W50,W51
0,0,PROD_001,Gator XUV 590M,https://e-marketing.deere.com/store/landpro-eq...,Gator XUV 590M,John Deere,ESP_001,843,12449,12449,...,46,41,34,39,44,46,46,41,57,73
1,0,PROD_001,Gator XUV 590M,https://e-marketing.deere.com/store/landpro-eq...,Gator XUV 590M,John Deere,ESP_001,843,12449,12449,...,52,36,43,31,37,38,42,28,28,26
2,0,PROD_001,Gator XUV 590M,https://e-marketing.deere.com/store/landpro-eq...,Gator XUV 590M,John Deere,ESP_001,843,12449,12449,...,43,33,28,25,31,44,24,25,43,28
3,0,PROD_001,Gator XUV 590M,https://e-marketing.deere.com/store/landpro-eq...,Gator XUV 590M,John Deere,ESP_001,843,12449,12449,...,32,33,30,44,47,37,18,36,23,25
4,0,PROD_001,Gator XUV 590M,https://e-marketing.deere.com/store/landpro-eq...,Gator XUV 590M,John Deere,ESP_001,843,12449,12449,...,34,40,23,36,30,30,26,21,16,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,7,PROD_008,Z930M Ztrack,https://e-marketing.deere.com/store/landpro-eq...,Z930M Ztrack,John Deere,ESP_008,843,11589,11589,...,10,17,21,14,25,20,12,21,25,23
76,7,PROD_008,Z930M Ztrack,https://e-marketing.deere.com/store/landpro-eq...,Z930M Ztrack,John Deere,ESP_008,843,11589,11589,...,10,8,11,6,8,18,7,10,10,14
77,7,PROD_008,Z930M Ztrack,https://e-marketing.deere.com/store/landpro-eq...,Z930M Ztrack,John Deere,ESP_008,843,11589,11589,...,10,16,11,8,17,16,8,10,23,21
78,7,PROD_008,Z930M Ztrack,https://e-marketing.deere.com/store/landpro-eq...,Z930M Ztrack,John Deere,ESP_008,843,11589,11589,...,10,7,13,7,12,7,8,11,12,9
79,7,PROD_008,Z930M Ztrack,https://e-marketing.deere.com/store/landpro-eq...,Z930M Ztrack,John Deere,ESP_008,843,11589,11589,...,8,5,11,10,7,7,9,7,10,8

### Two merges on site_normal to show values stored on employee_normal and item_normal

In [29]:
df = site_normal.merge(employee_normal, how='inner',left_on=['emp_id'], right_on=['id']).merge(item_normal, how='inner', left_on=['item_id'], right_on=['id'])

In [30]:
df.sort_values(by=['id_x'])

,id_x,sales_year,sales_week,emp_id,item_id,number_sold,id_y,emp,id,item
0,17,2022,0,1,1,12,1,EMP244,1,PROD_001
2,18,2022,0,1,9,6,1,EMP244,9,ESP_001
4,19,2022,0,1,2,12,1,EMP244,2,PROD_002
5,20,2022,0,1,10,3,1,EMP244,10,ESP_002
6,21,2022,0,1,3,32,1,EMP244,3,PROD_003
7,22,2022,0,1,11,12,1,EMP244,11,ESP_003
8,23,2022,0,1,4,33,1,EMP244,4,PROD_004
10,24,2022,0,1,12,15,1,EMP244,12,ESP_004
12,25,2022,1,2,5,33,2,EMP256,5,PROD_005
14,26,2022,1,2,13,44,2,EMP256,13,ESP_005
16,27,2022,1,5,7,23,5,EMP290,7,PROD_007
17,28,2022,1,5,15,5,5,EMP290,15,ESP_007
9,29,2022,1,4,4,23,4,EMP267,4,PROD_004
11,30,2022,1,4,12,33,4,EMP267,12,ESP_004
1,31,2022,5,1,1,9,1,EMP244,1,PROD_001
3,32,2022,5,1,9,4,1,EMP244,9,ESP_001
13,37,2022,6,3,5,50,3,EMP234,5,PROD_005
15,38,2022,6,3,13,22,3,EMP234,13,ESP_005