# Database Health Checkup

## Setup

In [1]:
pip install pymysql

Requirement already satisfied: pymysql in c:\programdata\anaconda3\lib\site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
import config
conn= "mysql+pymysql://{0}:{1}@{2}/{3}".format(config.username, config.password, config.host, config.schema)
engine = create_engine(conn, echo=False)

In [3]:
sitesales= pd.read_sql_table('sitesales',engine)

In [4]:
sitesales

,id,sales_year,sales_week,sales_team,prod_code,prod_sold,esp_code,esp_sold
0,1,2022,0,EMP234,PROD_001,123,ESP_001,333
1,3,2022,8,EMP256,PROD_008,0,ESP_008,0
2,4,2022,0,EMP234,PROD_008,0,ESP_008,0
3,5,2022,0,EMP234,PROD_008,0,ESP_008,0
4,7,2022,12,EMP290,PROD_008,11,ESP_008,123
5,8,2022,0,EMP234,PROD_008,33,ESP_008,33
6,9,2022,0,EMP256,PROD_008,123,ESP_008,444
7,10,2022,17,EMP256,PROD_008,12,ESP_008,2