# Database Health Checkup

## Setup

In [2]:
pip install pymysql

Requirement already satisfied: pymysql in c:\programdata\anaconda3\lib\site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
import config
conn= "mysql+pymysql://{0}:{1}@{2}/{3}".format(config.username, config.password, config.host, config.schema)
engine = create_engine(conn, echo=False)

In [30]:
sitesales= pd.read_sql_table('sitesales',engine)
sales_periods = pd.read_sql_table('sales_periods',engine)
employees = pd.read_sql_table('employees',engine)
product_info = pd.read_sql_table('product_info',engine)
historic_sales = pd.read_sql_table('historic_sales',engine)

### Tables at a Glance

In [37]:
sitesales

,id,sales_year,sales_week,sales_team,prod_code,prod_sold,esp_code,esp_sold
0,1,2022,0,EMP234,PROD_001,123,ESP_001,333
1,3,2022,8,EMP256,PROD_008,0,ESP_008,0
2,4,2022,0,EMP234,PROD_008,0,ESP_008,0
3,5,2022,0,EMP234,PROD_008,0,ESP_008,0
4,7,2022,12,EMP290,PROD_008,11,ESP_008,123
5,8,2022,0,EMP234,PROD_008,33,ESP_008,33
6,11,2022,10,EMP267,PROD_008,23,ESP_008,12

In [38]:
sales_periods

     index  Week0+  Week1+  Sales Period  Sales Year        Date  Quarter
0        0       0       1             1        2019  12/30/2018        1
1        1       1       2             1        2019    1/6/2019        1
2        2       2       3             1        2019   1/13/2019        1
3        3       3       4             1        2019   1/20/2019        1
4        4       4       5             2        2019   1/27/2019        1
..     ...     ...     ...           ...         ...         ...      ...
99      99      47      48            12        2020  11/22/2020        4
100    100      48      49            13        2020  11/29/2020        4
101    101      49      50            13        2020   12/6/2020        4
102    102      50      51            13        2020  12/13/2020        4
103    103      51      52            13        2020  12/20/2020        4

[104 rows x 7 columns]

In [39]:
employees

   index   EmpID   Sales Team Lead PayGrade Region
0      0  EMP234    Bachmann, Jane      C13     NW
1      1  EMP244       Evans, Gina      C12     NW
2      2  EMP256     Lawson, Harry      C11     NW
3      3  EMP267  Clement, Beverly      C14     SW
4      4  EMP290      Allen, Maude      C12     SW

In [40]:
product_info

,index,PROD_CODE,PROD_NAME,URL,link,Manufacturer,Extended Service Plan,Warranty Price,2019Q1,2019Q2,2019Q3,2019Q4,2020Q1,2020Q2,2020Q3,2020Q4
0,0,PROD_001,Gator XUV 590M,https://e-marketing.deere.com/store/landpro-eq...,Gator XUV 590M,John Deere,ESP_001,843,12449,12449,12449,12449,12499,12499,12499,12499
1,1,PROD_002,CUV82,https://www.cat.com/en_US/products/new/equipme...,CUV82,Cat,ESP_002,843,14786,14786,14786,14786,14998,14998,14998,14998
2,2,PROD_003,1025R Sub-Compact Tractor,https://e-marketing.deere.com/store/landpro-eq...,1025R Sub-Compact Tractor,John Deere,ESP_003,978,14999,14999,14999,14999,15066,15066,15066,15066
3,3,PROD_004,CT1021 Sub-Compact Tractor,https://www.bobcat.com/tractors/models/ct1021/...,CT1021 Sub-Compact Tractor,Bobcat,ESP_004,843,11385,11385,11385,11385,11527,11527,11527,11527
4,4,PROD_005,UV34 Gas,https://www.bobcat.com/utility-products/utv/UV...,UV34 Gas,Bobcat,ESP_005,843,13995,13995,13995,13995,14225,14225,14225,14225
5,5,PROD_006,ZT2000 Zero Turn Mower,https://www.bobcat.com/mowers/zero-turn-mowers...,ZT2000 Zero Turn Mower,Bobcat,ESP_006,372,4575,4575,4575,4575,4649,4649,4649,4649
6,6,PROD_007,S70 Skid Steer Loader,https://www.bobcat.com/loaders/skid-steer-load...,S70 Skid Steer Loader,Bobcat,ESP_007,1027,22987,22987,22987,22987,23120,23120,23120,23120
7,7,PROD_008,Z930M Ztrack,https://e-marketing.deere.com/store/landpro-eq...,Z930M Ztrack,John Deere,ESP_008,843,11589,11589,11589,11589,11689,11689,11689,11689

### Health Check: Show Data Tpye of Each Column Per Table

In [25]:
sitesales.dtypes

id             int64
sales_year     int64
sales_week     int64
sales_team    object
prod_code     object
prod_sold      int64
esp_code      object
esp_sold       int64
dtype: object

In [36]:
sales_periods.dtypes

index            int64
Week0+           int64
Week1+           int64
Sales Period     int64
Sales Year       int64
Date            object
Quarter          int64
dtype: object

In [27]:
employees.dtypes

index               int64
EmpID              object
Sales Team Lead    object
PayGrade           object
Region             object
dtype: object

In [28]:
product_info.dtypes

index                     int64
PROD_CODE                object
PROD_NAME                object
URL                      object
link                     object
Manufacturer             object
Extended Service Plan    object
Warranty Price            int64
2019Q1                    int64
2019Q2                    int64
2019Q3                    int64
2019Q4                    int64
2020Q1                    int64
2020Q2                    int64
2020Q3                    int64
2020Q4                    int64
dtype: object

In [31]:
historic_sales.dtypes

index         int64
ITEM_CODE    object
EMP_ID       object
Year          int64
W0            int64
W1            int64
W2            int64
W3            int64
W4            int64
W5            int64
W6            int64
W7            int64
W8            int64
W9            int64
W10           int64
W11           int64
W12           int64
W13           int64
W14           int64
W15           int64
W16           int64
W17           int64
W18           int64
W19           int64
W20           int64
W21           int64
W22           int64
W23           int64
W24           int64
W25           int64
W26           int64
W27           int64
W28           int64
W29           int64
W30           int64
W31           int64
W32           int64
W33           int64
W34           int64
W35           int64
W36           int64
W37           int64
W38           int64
W39           int64
W40           int64
W41           int64
W42           int64
W43           int64
W44           int64
W45           int64
W46           int64
W47           int64
W48           int64
W49           int64
W50           int64
W51           int64
dtype: object

### Common Joins